extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='post')
      | Test:
      br
      input(type='Masukkan Teks', name='teksname')
      br
      input(type='submit')
      br
      a(href='') edit
      br
      a(href='') delete
      p #{text}
