doctype html
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery-3.1.0.min.js').
    script(type='text/javascript', src='/javascripts/memo.js').
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
