extends ../layout

block content
    h1.
         #{title}
    p
      a(href='/memos/new') Add New Memo
    table
        - each memo, i in memos
            tr
              td
                = memo._id
              td
                = memo.name
              td
                form(action='/memos/#{memo._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                  input(type='hidden',value='DELETE',name='_method')
                  button(type='submit').
                      Delete
              td
                form(action='/memos/#{memo._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                  input(type='hidden',value='EDIT',name='_method')
                  button(type='submit').
                      Edit
